In [ ]:
# Tasks perform in this Notebook taken from various platforms like linkedin

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("GlobalSparkSession").getOrCreate()

24/02/02 11:54:21 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:
Task - The dataset includes company_id, company_name, and multiple date columns representing the stock prices of the company. 
The task is to generate a new dataset with only three columns, "company_name", "Date", "Stock_price".
You have to unpivot the data

In [6]:
data = [
(1, "Quantum Innovations", 12.5, 14.5, 16.5, 18.5, 20.5),
(2, "Stellar Solutions", 14.5, 16.5, 18.5, 20.5, 22.5),
(3, "Nebula Dynamics", 16.5, 18.5, 20.5, 22.5, 24.5),
(4, "Fusion Enterprises", 18.5, 20.5, 22.5, 24.5, 26.5),
(5, "Celestial Technologies", 20.5, 22.5, 24.5, 26.5, 28.5),
]
df=spark.createDataFrame(data,["c_id","Company_Name","2024-02-01","2024-02-02","2024-02-03","2024-02-04","2024-02-05"])
df.show()

+----+--------------------+----------+----------+----------+----------+----------+
|c_id|        Company_Name|2024-02-01|2024-02-02|2024-02-03|2024-02-04|2024-02-05|
+----+--------------------+----------+----------+----------+----------+----------+
|   1| Quantum Innovations|      12.5|      14.5|      16.5|      18.5|      20.5|
|   2|   Stellar Solutions|      14.5|      16.5|      18.5|      20.5|      22.5|
|   3|     Nebula Dynamics|      16.5|      18.5|      20.5|      22.5|      24.5|
|   4|  Fusion Enterprises|      18.5|      20.5|      22.5|      24.5|      26.5|
|   5|Celestial Technol...|      20.5|      22.5|      24.5|      26.5|      28.5|
+----+--------------------+----------+----------+----------+----------+----------+