In [15]:
# Task : Display table from JSON Object
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
result_set=pd.DataFrame(mydataset)
# result_set=pd.Series(mydataset)
print(result_set)
print(result_set.loc[0])

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
cars        BMW
passings      3
Name: 0, dtype: object

In [6]:
# Series

a = [1, 7, 2]
result=pd.Series(a)
print(result)

0    1
1    7
2    2
dtype: int64

In [20]:
# Create indexes for DataFrame
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
indexes=["day1","day2","day3"]
result_set=pd.DataFrame(mydataset,index=indexes)
print(result_set)
print(f'\n {result_set.loc["day1"]}')

       cars  passings
day1    BMW         3
day2  Volvo         7
day3   Ford         2

 cars        BMW
passings      3
Name: day1, dtype: object

In [25]:
# Read Data from csv file into dataframe
df=pd.read_csv("Files/data.csv")
# print(df.to_string())
print(df.loc[0])
print(pd.options.display.max_rows)

Duration     60.0
Pulse       110.0
Maxpulse    130.0
Calories    409.1
Name: 0, dtype: float64
60

In [30]:
# Read Data from csv file into dataframe
df=pd.read_csv("Files/data.csv")
pd.options.display.max_rows=5
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
..        ...    ...       ...       ...
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]