In [1]:
# Task : Display table from JSON Object
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
result_set=pd.DataFrame(mydataset)
# result_set=pd.Series(mydataset)
# print(result_set)
# print(result_set.loc[0])

In [2]:
# Series

a = [1, 7, 2]
result=pd.Series(a)
# print(result)

In [3]:
# Create indexes for DataFrame
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
indexes=["day1","day2","day3"]
result_set=pd.DataFrame(mydataset,index=indexes)
# print(result_set)
# print(f'\n {result_set.loc["day1"]}')

In [4]:
# Read Data from csv file into dataframe
df=pd.read_csv("Files/data.csv")
# print(df.to_string())
# print(df.loc[0])
# print(pd.options.display.max_rows)

In [5]:
# Read Data from csv file into dataframe
df=pd.read_csv("Files/data.csv")
# pd.options.display.max_rows=5
# print(df)

In [3]:
import pandas as pd
df=pd.read_excel('/home/tony/BigData/Files/file_example_XLSX_5000.xlsx')
# df[0][0]='user_id'
print(df)

      Unnamed: 0 First Name   Last Name  Gender        Country  Age  \
0              1      Dulce       Abril  Female  United States   32
1              2       Mara   Hashimoto  Female  Great Britain   25
2              3     Philip        Gent    Male         France   36
3              4   Kathleen      Hanner  Female  United States   25
4              5    Nereida     Magwood  Female  United States   58
...          ...        ...         ...     ...            ...  ...
4995        4996       Roma  Lafollette  Female  United States   34
4996        4997     Felisa        Cail  Female  United States   28
4997        4998   Demetria       Abbey  Female  United States   32
4998        4999     Jeromy        Danz    Male  United States   39
4999        5000   Rasheeda      Alkire  Female  United States   29

            Date    Id
0     15/10/2017  1562
1     16/08/2016  1582
2     21/05/2015  2587
3     15/10/2017  3549
4     16/08/2016  2468
...          ...   ...
4995  15/10/2017  2654
4996  16/08/2016  6525
4997  21/05/2015  3265
4998  15/10/2017  3265
4999  16/08/2016  6125

[5000 rows x 8 columns]

In [2]:
# importing the pandas library
import pandas as pd

# creating lists
l1 =["Amar", "Barsha", "Carlos", "Tanmay", "Misbah"]
l2 =["Alpha", "Bravo", "Charlie", "Tango", "Mike"]
l3 =[23, 25, 22, 27, 29]
l4 =[69, 54, 73, 70, 74]

# creating the DataFrame
team = pd.DataFrame(list(zip(l1, l2, l3, l4)))

# displaying the DataFrame
print(team)

        0        1   2   3
0    Amar    Alpha  23  69
1  Barsha    Bravo  25  54
2  Carlos  Charlie  22  73
3  Tanmay    Tango  27  70
4  Misbah     Mike  29  74

In [4]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Rename the 'A' column to 'X'
df.rename(columns={'A': 'X'}, inplace=True)

print(df)

   X  B
0  1  4
1  2  5
2  3  6