In [3]:
rdd=sc.textFile('file:///home/tony/BigData/Files/Sample.txt')

In [70]:
rdd.take(2)
# print(type(rdd))

['For example, a SQL query (using the .sql() method) that references your DataFrame will throw an error. To access the data in this way, you have to save it as a temporary table.',
 "You can do this using the .createTempView() Spark DataFrame method, which takes as its only argument the name of the temporary table you'd like to register. This method registers the DataFrame as a table in the catalog, but as this table is temporary, it can only be accessed from the specific SparkSession used to create the Spark DataFrame."]

In [4]:
# create function to convert a paragraph to Words
# convertToLower=rdd.map(lambda lines:lines.lower().split())

convertToLower=rdd.map(lambda lines:lines.lower().split(' '))

# convertToLower.take(1)[0]
def convertToLower(lines):
    lines=lines.lower()
    lines=lines.split(',')
    return lines
convertToLower=rdd.map(convertToLower)

In [1]:
# print(type(convertToLower.take(1)[0]))
convertToLower.take(1)[0].filter(lambda x:len(x)==4)
# vals=splittedList[0]
# filter the list elements that has length 4
# filterLengthFour=vals.filter(lambda x:len(x)==4)
# print(filterLenghFour)

In [19]:
# Task :Practice GroupByKey()
data=(("APPLE",1),("ORANGE",2),("ORANGE",3),("APPLE",4),("ORANGE",5))
# data=["APPLE","ORANGE","ORANGE","APPLE","ORANGE"]

fruits_rdd=sc.parallelize(data)
group_fruits=fruits_rdd.groupByKey()
group_fruits.collect()#.foreach(println)

[('APPLE', <pyspark.resultiterable.ResultIterable at 0x7f74682d5f90>),
 ('ORANGE', <pyspark.resultiterable.ResultIterable at 0x7f7468483160>)]