In [2]:

from pyspark.sql.types import StructType, StructField, StringType, DateType, DoubleType, IntegerType, BooleanType, TimestampType
schema = StructType([
    StructField("party_id", StringType(), True),
    StructField("salutation", StringType(), True),
    StructField("first_name", StringType(), True),
    StructField("middle_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("personal_title", StringType(), True),
    StructField("suffix", StringType(), True),
    StructField("nickname", StringType(), True),
    StructField("first_name_local", StringType(), True),
    StructField("middle_name_local", StringType(), True),
    StructField("last_name_local", StringType(), True),
    StructField("other_local", StringType(), True),
    StructField("member_id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("birth_date", DateType(), True),
    StructField("deceased_date", DateType(), True),
    StructField("height", DoubleType(), True),
    StructField("weight", DoubleType(), True),
    StructField("mothers_maiden_name", StringType(), True),
    StructField("marital_status", StringType(), True),
    StructField("marital_status_enum_id", StringType(), True),
    StructField("social_security_number", StringType(), True),
    StructField("passport_number", StringType(), True),
    StructField("passport_expire_date", DateType(), True),
    StructField("total_years_work_experience", DoubleType(), True),
    StructField("comments", StringType(), True),
    StructField("employment_status_enum_id", StringType(), True),
    StructField("residence_status_enum_id", StringType(), True),
    StructField("occupation", StringType(), True),
    StructField("years_with_employer", IntegerType(), True),
    StructField("months_with_employer", IntegerType(), True),
    StructField("existing_customer", BooleanType(), True),
    StructField("card_id", StringType(), True),
    StructField("last_updated_stamp", TimestampType(), True),
    StructField("last_updated_tx_stamp", TimestampType(), True),
    StructField("created_stamp", TimestampType(), True),
    StructField("created_tx_stamp", TimestampType(), True),
])

In [5]:
from pyspark.sql import SparkSession
import datetime
# Create Spark session
    # 

spark = SparkSession.builder \
    .config('spark.executor.memory','4g')\
    .config("spark.jars", "/jars/postgresql-42.7.5.jar") \
    .config('spark.driver.memory','10g')\
    .appName("Read Parquet") \
    .getOrCreate()
from pyspark.sql.functions import expr

# Read Parquet file
empl_appl_detail = spark.read.parquet("D:/BigData/empfiles/empl_application_detail.parquet")
employment_details = spark.read.parquet('D:/BigData/empfiles/employment_details.parquet')
empl_sal_breakup = spark.read.parquet('D:/BigData/empfiles/employment_salary-breakup.parquet')
party = spark.read.parquet('D:/BigData/empfiles/party.parquet')
person = spark.read.csv("D:/BigData/empfiles/person.csv",header=True,schema=schema)
person=person.select("party_id","first_name","middle_name","last_name","total_years_work_experience")\
      .where("first_name is not null")
application_sandbox = spark.read.parquet('D:/BigData/empfiles/application_sandbox.parquet')
employment_app = spark.read.parquet('D:/BigData/empfiles/employment_app.parquet') \
                 .select("application_id","applying_party_id","status_id","application_date")

    #    and party_id='PR_KV04W9E4VZ'
print(f'spark session created at {datetime.datetime.now()}')

spark session created at 2025-05-17 08:57:57.238964

In [68]:
# employment_app.printSchema()
employment_app.where("applying_party_id='PR_KV04W9E4VZ'") \
    .show(n=10,truncate=False)

+--------------+-----------------+---------+--------------------------+
|application_id|applying_party_id|status_id|application_date          |
+--------------+-----------------+---------+--------------------------+
|APP_BE76T9V8MI|PR_KV04W9E4VZ    |HIRED    |2024-04-24 10:23:22.191166|
+--------------+-----------------+---------+--------------------------+

In [ ]:
empl_appl_detail

In [7]:
from pyspark.sql.functions import expr,col,cast
empl_appl_detail=empl_appl_detail\
    .select("application_id","reporting_manager","recomended_ctc",col("approved_ctc").cast(IntegerType())\
      ,"ctc_approved","joining_branch","credit_report","n6")\
    .where(expr("ctc_approved is not null and reporting_manager is not null")) \
        .orderBy(expr("reporting_manager"))    # .show(n=1000)
# employment_details.select("")

empl_sal_breakup=empl_sal_breakup.select( "application_id","basic_monthly","basic_yearly","net_monthly","net_yearly","salary_breakup")
    # .where()
# .show(n=1000)

In [8]:
# PR_KV04W9E4VZ
# "ea.application_id", ,"p.party_id",substring(col("ea.application_date"),1,10), ,"basic_monthly","basic_yearly"
final_dataset=employment_app.alias("ea").join(person.alias("p"),col("ea.applying_party_id") == col("p.party_id"),"inner") \
              .join(empl_sal_breakup.alias("esb"),col("ea.application_id") == col("esb.application_id"),"inner") \
              .join(empl_appl_detail.alias("ead"),col("ea.application_id") == col("ead.application_id"),"inner") \
.select("first_name","middle_name","last_name" ,"ead.recomended_ctc","ead.approved_ctc"\
        ,"net_monthly","net_yearly","ea.status_id") \
        .where("approved_ctc is not null") \
    .orderBy("first_name")
    # .show(n=1000,truncate=False)
    # .where("party_id = 'PR_KV04W9E4VZ'") \

In [10]:
''' Expalin Analyze '''

final_dataset.explain(mode='formatted')

# # empl_appl_detail.printSchema()
# employment_details.printSchema()
# # empl_sal_breakup.printSchema()
# # party.printSchema()
# # person.printSchema()

== Physical Plan ==
AdaptiveSparkPlan (21)
+- Sort (20)
   +- Exchange (19)
      +- Project (18)
         +- BroadcastHashJoin Inner BuildRight (17)
            :- Project (12)
            :  +- BroadcastHashJoin Inner BuildRight (11)
            :     :- Project (7)
            :     :  +- BroadcastHashJoin Inner BuildLeft (6)
            :     :     :- BroadcastExchange (3)
            :     :     :  +- Filter (2)
            :     :     :     +- Scan parquet  (1)
            :     :     +- Filter (5)
            :     :        +- Scan csv  (4)
            :     +- BroadcastExchange (10)
            :        +- Filter (9)
            :           +- Scan parquet  (8)
            +- BroadcastExchange (16)
               +- Project (15)
                  +- Filter (14)
                     +- Scan parquet  (13)


(1) Scan parquet
Output [3]: [application_id#896, status_id#898, applying_party_id#900]
Batched: true
Location: InMemoryFileIndex [file:/D:/BigData/empfiles/employment_app.parquet]
PushedFilters: [IsNotNull(applying_party_id), IsNotNull(application_id)]
ReadSchema: struct<application_id:string,status_id:string,applying_party_id:string>

(2) Filter
Input [3]: [application_id#896, status_id#898, applying_party_id#900]
Condition : (isnotnull(applying_party_id#900) AND isnotnull(application_id#896))

(3) BroadcastExchange
Input [3]: [application_id#896, status_id#898, applying_party_id#900]
Arguments: HashedRelationBroadcastMode(List(input[2, string, false]),false), [plan_id=67]

(4) Scan csv
Output [4]: [party_id#796, first_name#798, middle_name#799, last_name#800]
Batched: false
Location: InMemoryFileIndex [file:/D:/BigData/empfiles/person.csv]
PushedFilters: [IsNotNull(first_name), IsNotNull(party_id)]
ReadSchema: struct<party_id:string,first_name:string,middle_name:string,last_name:string>

(5) Filter
Input [4]: [party_id#796, first_name#798, middle_name#799, last_name#800]
Condition : (isnotnull(first_name#798) AND isnotnull(party_id#796))

(6) BroadcastHashJoin
Left keys [1]: [applying_party_id#900]
Right keys [1]: [party_id#796]
Join type: Inner
Join condition: None

(7) Project
Output [5]: [application_id#896, status_id#898, first_name#798, middle_name#799, last_name#800]
Input [7]: [application_id#896, status_id#898, applying_party_id#900, party_id#796, first_name#798, middle_name#799, last_name#800]

(8) Scan parquet
Output [3]: [application_id#708, net_monthly#725, net_yearly#726]
Batched: true
Location: InMemoryFileIndex [file:/D:/BigData/empfiles/employment_salary-breakup.parquet]
PushedFilters: [IsNotNull(application_id)]
ReadSchema: struct<application_id:string,net_monthly:string,net_yearly:string>

(9) Filter
Input [3]: [application_id#708, net_monthly#725, net_yearly#726]
Condition : isnotnull(application_id#708)

(10) BroadcastExchange
Input [3]: [application_id#708, net_monthly#725, net_yearly#726]
Arguments: HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=71]

(11) BroadcastHashJoin
Left keys [1]: [application_id#896]
Right keys [1]: [application_id#708]
Join type: Inner
Join condition: None

(12) Project
Output [7]: [application_id#896, status_id#898, first_name#798, middle_name#799, last_name#800, net_monthly#725, net_yearly#726]
Input [8]: [application_id#896, status_id#898, first_name#798, middle_name#799, last_name#800, application_id#708, net_monthly#725, net_yearly#726]

(13) Scan parquet
Output [5]: [application_id#617, reporting_manager#628, recomended_ctc#636, ctc_approved#637, approved_ctc#638]
Batched: true
Location: InMemoryFileIndex [file:/D:/BigData/empfiles/empl_application_detail.parquet]
PushedFilters: [IsNotNull(approved_ctc), IsNotNull(ctc_approved), IsNotNull(reporting_manager), IsNotNull(application_id)]
ReadSchema: struct<application_id:string,reporting_manager:string,recomended_ctc:string,ctc_approved:boolean,approved_ctc:decimal(38,18)>

(14) Filter
Input [5]: [application_id#617, reporting_manager#628, recomended_ctc#636, ctc_approved#637, approved_ctc#638]
Condition : ((((isnotnull(approved_ctc#638) AND isnotnull(ctc_approved#637)) AND isnotnull(reporting_manager#628)) AND isnotnull(cast(approved_ctc#638 as int))) AND isnotnull(application_id#617))

(15) Project
Output [3]: [application_id#617, recomended_ctc#636, cast(approved_ctc#638 as int) AS approved_ctc#927]
Input [5]: [application_id#617, reporting_manager#628, recomended_ctc#636, ctc_approved#637, approved_ctc#638]

(16) BroadcastExchange
Input [3]: [application_id#617, recomended_ctc#636, approved_ctc#927]
Arguments: HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=75]

(17) BroadcastHashJoin
Left keys [1]: [application_id#896]
Right keys [1]: [application_id#617]
Join type: Inner
Join condition: None

(18) Project
Output [8]: [first_name#798, middle_name#799, last_name#800, recomended_ctc#636, approved_ctc#927, net_monthly#725, net_yearly#726, status_id#898]
Input [10]: [application_id#896, status_id#898, first_name#798, middle_name#799, last_name#800, net_monthly#725, net_yearly#726, application_id#617, recomended_ctc#636, approved_ctc#927]

(19) Exchange
Input [8]: [first_name#798, middle_name#799, last_name#800, recomended_ctc#636, approved_ctc#927, net_monthly#725, net_yearly#726, status_id#898]
Arguments: rangepartitioning(first_name#798 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=79]

(20) Sort
Input [8]: [first_name#798, middle_name#799, last_name#800, recomended_ctc#636, approved_ctc#927, net_monthly#725, net_yearly#726, status_id#898]
Arguments: [first_name#798 ASC NULLS FIRST], true, 0

(21) AdaptiveSparkPlan
Output [8]: [first_name#798, middle_name#799, last_name#800, recomended_ctc#636, approved_ctc#927, net_monthly#725, net_yearly#726, status_id#898]
Arguments: isFinalPlan=false

In [5]:
# final_dataset.write.csv('file:///D:/BigData/empfiles/salaries.csv')
final_dataset.show(n=1000,truncate=False)

+---------------------------+-----------+------------+--------------+------------+-----------+----------+--------------------+
|first_name                 |middle_name|last_name   |recomended_ctc|approved_ctc|net_monthly|net_yearly|status_id           |
+---------------------------+-----------+------------+--------------+------------+-----------+----------+--------------------+
|ABHISHEK                   |NULL       |NULL        |240000        |240000      |16042      |192500    |HIRED               |
|ADDULA                     |NULL       |ARAVIND     |510000        |510000      |37688      |452256    |HIRED               |
|ANIKET                     |ANAND      |CHABUKSWAR  |650000        |650000      |48035      |576416    |HIRED               |
|ANKIT                      |NULL       |Sharma      |134652        |134652      |11630      |139562    |HIRED               |
|ASHWANI                    |NULL       |KUMAR       |238000        |238000      |15908      |190896    |HIRED               |
|Abhyanshu                  |NULL       |Gautam      |700000        |700000      |51729      |620752    |HIRED               |
|Ajay                       |NULL       |Kumar       |250000        |230000      |15373      |184479    |HIRED               |
|Ajay                       |NULL       |Kumar       |250000        |207700      |13883      |166593    |HIRED               |
|Akash                      |NULL       |Kumar       |134652        |134652      |11630      |139562    |OFFER_SENT          |
|Akash                      |NULL       |Kumar       |210000        |210000      |14036      |168437    |HIRED               |
|Akash                      |Chauhan    |NULL        |174000        |174000      |11630      |139562    |HIRED               |
|Akhilesh                   |Kumar      |NULL        |308075        |308076      |22073      |264876    |HIRED               |
|Alimili                    |Bala       |Subramanyam |460000        |460000      |33993      |407920    |HIRED               |
|Amarjeet                   |Kumar      |Singh       |300000        |300000      |21400      |256800    |HIRED               |
|Amina                      |G          |Bhavikatti  |825000        |825010      |60967      |731602    |HIRED               |
|Amit                       |NULL       |Kumar       |1375004       |1375004     |101612     |1219340   |HIRED               |
|Amitendra                  |NULL       |Verma       |25            |343200      |25000      |300000    |HIRED               |
|Anand                      |Ashok      |Noganal     |741276        |741276      |54779      |657348    |HIRED               |
|Aneeta                     |NULL       |NULL        |450000        |450000      |33254      |399048    |HIRED               |
|Anil                       |NULL       |Pandey      |250000        |250000      |16710      |200521    |HIRED               |
|Ankit                      |NULL       |Yadav       |174000        |174000      |11630      |139562    |HIRED               |
|Ankit                      |Kumar      |Singh       |2.20          |220000      |14705      |176458    |HIRED               |
|Anuj                       |NULL       |NULL        |174000        |174000      |11630      |139562    |HIRED               |
|Arpana                     |NULL       |Rathod      |240000        |240000      |16042      |192500    |HIRED               |
|Arvind                     |NULL       |Honnadi     |750000        |751826      |25719      |308626    |HIRED               |
|Arvind                     |NULL       |Honnadi     |750000        |751826      |55560      |666722    |HIRED               |
|Arvind                     |NULL       |sen         |14            |209450      |14000      |167996    |HIRED               |
|Ashish                     |NULL       |Kumar       |174000        |174000      |11630      |139562    |HIRED               |
|Ashish                     |NULL       |Singh       |244312        |244312      |16330      |195958    |HIRED               |
|Asif                       |NULL       |NULL        |1000000       |1200000     |88680      |1064160   |HIRED               |
|Aspak                      |NULL       |NULL        |224420        |224420      |15000      |180003    |INTERVIEW_PASS      |
|Atthullu                   |Kam        |Raju        |650000        |650000      |48035      |576416    |HIRED               |
|Atul                       |NULL       |Kumar       |264550        |364550      |26779      |321350    |HIRED               |
|Avinash                    |Madivalappa|Raval       |320000        |320000      |23067      |276800    |HIRED               |
|B                          |NULL       |Basavaraja  |260000        |260000      |17378      |208541    |HIRED               |
|Babu                       |Sahab      |Kumar       |194000        |241000      |16108      |193302    |HIRED               |
|Babu                       |Sahab      |Kumar       |194000        |241000      |16108      |193302    |HIRED               |
|Babu                       |Sahab      |Kumar       |194000        |241000      |12967      |155604    |HIRED               |
|Bannai                     |Bhargav    |Chandra     |274000        |274000      |19233      |230800    |HIRED               |
|Basavaraj                  |NULL       |Goudar      |260000        |240000      |16042      |192500    |HIRED               |
|Bejgum                     |NULL       |Varush      |224420        |224420      |15000      |180003    |HIRED               |
|Bhupender                  |NULL       |NULL        |1200000       |1200000     |88680      |1064160   |HIRED               |
|Bhupendra                  |NULL       |Singh       |240000        |240000      |16042      |192500    |HIRED               |
|Bodakuntla                 |NULL       |Mahesh      |204996        |204996      |13702      |164424    |HIRED               |
|Chandan                    |NULL       |Kumar       |174000        |174000      |11630      |139562    |HIRED               |
|Chandan                    |NULL       |Kumar       |258500        |258500      |17278      |207338    |HIRED               |
|Chandan                    |NULL       |NULL        |13            |193000      |12900      |154802    |HIRED               |
|Chandraveer                |Singh      |Thenuan     |235000        |235000      |15707      |188489    |HIRED               |
|Channabasappa Betageri     |NULL       |NULL        |400000        |400000      |29559      |354712    |HIRED               |
|Chetan                     |NULL       |Udikeri     |260000        |260000      |17378      |208541    |HIRED               |
|Chhotu                     |Kumar      |Mehta       |399500        |399500      |29524      |354284    |HIRED               |
|DEEPAK                     |NULL       |KUMAR       |381804        |381804      |28215      |338580    |HIRED               |
|DEEPAK                     |KUMAR      |PASWAN      |180000        |180000      |12031      |144375    |HIRED               |
|DHAVALA                    |NARENDRA   |KUMAR       |780000        |780000      |57642      |691704    |HIRED               |
|DUSHYANT                   |NULL       |KUMAR       |240000        |240000      |16042      |192500    |HIRED               |
|Deepu                      |NULL       |NULL        |174000        |174000      |11630      |139562    |HIRED               |
|Devendra                   |kumar      |yadav       |307200        |307200      |22000      |264000    |HIRED               |
|Dharmendra                 |NULL       |Kumar       |450000        |450000      |29559      |354712    |HIRED               |
|Dharmendra                 |kumar      |NULL        |24000         |348000      |25400      |304800    |HIRED               |
|Dharmendra                 |NULL       |Kumar       |240000        |240000      |16042      |192500    |HIRED               |
|Donthi                     |NULL       |Arun        |350000        |350000      |25567      |306800    |HIRED               |
|Donthi                     |NULL       |Arun        |350000        |350000      |25567      |306800    |HIRED               |
|GAGAN                      |NULL       |kumar       |174000        |174000      |11630      |139562    |ESIGN_REQ_SENT      |
|GAGAN                      |NULL       |kumar       |174000        |174000      |11630      |139562    |ESIGN_REQ_SENT      |
|Gangadhar Malakashetti     |NULL       |NULL        |450000        |450000      |33254      |399048    |HIRED               |
|Geeta                      |NULL       |Rathod      |260000        |260000      |17378      |208541    |HIRED               |
|Gopal                      |S          |Talawar     |260000        |260000      |17378      |208541    |HIRED               |
|Goutam                     |NULL       |NULL        |260000        |260000      |17378      |208541    |HIRED               |
|Ikshwanku                  |Kumar      |Mishra      |25000         |343500      |25025      |300300    |HIRED               |
|Indrajeet                  |NULL       |Kumar       |258000        |258000      |17378      |208541    |HIRED               |
|Istkhar                    |NULL       |Ahmad       |399999        |399999      |29559      |354711    |HIRED               |
|Jaffer Siddique            |NULL       |NULL        |203500        |203500      |13602      |163224    |HIRED               |
|Jagadeesha                 |NULL       |T           |3600000       |360000      |26400      |316800    |HIRED               |
|Jagadeesha                 |NULL       |T           |3600000       |360000      |26400      |316800    |HIRED               |
|Jagadish                   |NULL       |Kammar      |260000        |260000      |17378      |208541    |HIRED               |
|Jagdish                    |NULL       |Kumar       |11600         |174000      |11630      |139562    |HIRED               |
|Jay                        |Shankar    |Prasad      |680000        |680000      |50251      |603008    |HIRED               |
|Jay                        |NULL       |Singh       |434765        |434765      |32128      |385541    |HIRED               |
|Jilajit                    |NULL       |Bind        |174000        |174000      |11630      |139562    |HIRED               |
|Jilajit                    |NULL       |Bind        |174000        |174000      |11630      |139562    |HIRED               |
|Jilajit                    |NULL       |Bind        |174000        |174000      |11630      |139562    |HIRED               |
|Jitendra kumar             |NULL       |NULL        |240000        |240000      |16042      |192500    |HIRED               |
|Jogannagari                |NULL       |Saketh Reddy|134652        |134652      |9000       |108002    |HIRED               |
|Jyotish                    |NULL       |kumar       |174000        |174000      |11630      |139562    |HIRED               |
|Kallappa                   |NULL       |NULL        |210000        |203500      |14036      |168437    |HOLD                |
|Kallappa                   |NULL       |NULL        |210000        |203500      |13602      |163224    |HOLD                |
|Kamal                      |NULL       |Hasan       |220000        |220000      |14705      |176458    |HIRED               |
|Kartik                     |NULL       |Dhiman      |340000        |340000      |24733      |296800    |HIRED               |
|Kirana Ganesha Sunagar     |NULL       |NULL        |203500        |203500      |13602      |163224    |HIRED               |
|Kirana Ganesha Sunagar     |NULL       |NULL        |203500        |203500      |13602      |163224    |HIRED               |
|Kirana Kaganoora           |NULL       |NULL        |210000        |210000      |14036      |168437    |HIRED               |
|Krishna                    |Kant       |Gupta       |174000        |174000      |11630      |139562    |HIRED               |
|Kumar                      |NULL       |NULL        |330000        |316649      |22787      |273449    |HIRED               |
|Kundan                     |NULL       |Kumar       |255000        |255000      |16376      |196510    |HIRED               |
|Lakshmikant                |NULL       |Saroj       |260000        |260000      |17378      |208541    |HIRED               |
|Lallan                     |NULL       |Kumar       |16500         |246860      |16500      |198002    |HIRED               |
|Lokesh                     |NULL       |Kumar       |460000        |460000      |33993      |407920    |HIRED               |
|M SANJIB RAO DORA          |NULL       |NULL        |648000        |648000      |47886      |574632    |HIRED               |
|MAHAMAD                    |NULL       |H           |200000        |200000      |13368      |160416    |HIRED               |
|Madhusoodan                |NULL       |NULL        |404585        |404585      |29899      |358793    |HIRED               |
|Mahtab                     |NULL       |Alam        |174000        |174000      |11630      |139562    |HIRED               |
|Mallu                      |Praneeth   |Reddy       |1375000       |1375000     |101611     |1219336   |HIRED               |
|Mannepalli                 |Madhavi    |latha       |204996        |204996      |13702      |164424    |HIRED               |
|Manoj                      |NULL       |Kumar       |174000        |174000      |11630      |139562    |KYC_PASS            |
|Mohan                      |Kumar      |Sharma      |340000        |340000      |24733      |296800    |HIRED               |
|Mohd                       |NULL       |Jishan      |240000        |240000      |16042      |192500    |HIRED               |
|Mritunjay                  |NULL       |Kumar       |11600         |174000      |11630      |139562    |HIRED               |
|Mukul                      |NULL       |Kumar       |174000        |174000      |11630      |139562    |APP_APPLY           |
|Munnangi Teja Venkata Kumar|NULL       |NULL        |765000        |765012      |56533      |678396    |JOINING_FORM_PENDING|
|Muppidi                    |Ravikrishna|NULL        |879580        |879580      |65000      |780004    |HIRED               |
|Muppidi                    |Ravikrishna|NULL        |879580        |879580      |65000      |780004    |HIRED               |
|Murthy                     |NULL       |T           |300000        |300000      |21400      |256800    |HIRED               |
|Nagendra                   |NULL       |Kumar       |16500         |246850      |16500      |197994    |HIRED               |
|Naresh                     |NULL       |Rajak       |350000        |350000      |25567      |306800    |HIRED               |
|Neeraj                     |NULL       |Jatav       |13500         |201980      |13500      |162005    |HIRED               |
|Nilesh                     |NULL       |Singh       |174000        |174000      |11630      |139562    |HIRED               |
|Niranjan                   |NULL       |Kumar       |207700        |207700      |13883      |166593    |HIRED               |
|Nitesh                     |Kumar      |Bhagat      |399500        |399500      |29524      |354284    |HIRED               |
|Nitika                     |Kant       |Parashar    |320460        |320460      |23105      |277260    |HIRED               |
|Omprakash                  |NULL       |kumar       |207700        |207700      |13883      |166593    |HIRED               |
|PASHAM SHASHANK            |NULL       |REDDY       |600000        |600000      |44340      |532080    |HIRED               |
|POLU                       |NULL       |DEEKSHITHA  |134652        |134652      |9000       |108002    |HIRED               |
|Pankaj                     |NULL       |Vishvkarma  |220000.2      |220000      |14705      |176458    |HIRED               |
|Pankaj                     |NULL       |Kumar       |258000        |258000      |14371      |172448    |JOINING_FORM_PENDING|
|Pankaj                     |NULL       |Kumar       |258000        |258000      |14371      |172448    |JOINING_FORM_PENDING|
|Pappu                      |NULL       |Bahadur     |1500000       |1500000     |110850     |1330200   |HIRED               |
|Pradeep                    |NULL       |Singh       |174000        |174000      |11630      |139562    |HIRED               |
|Prakash                    |NULL       |Saurav      |274100        |274100      |19242      |230900    |HIRED               |
|Pratap                     |NULL       |Singh       |460000        |460000      |33993      |407920    |APP_APPLY           |
|Praveen                    |Kumar      |Srivastav   |1218000       |1218000     |90010      |1080120   |HIRED               |
|Praveenkumar Hallikeri     |NULL       |NULL        |203500        |203500      |13602      |163224    |HIRED               |
|Preamchad                  |Kumar      |Verama      |207700        |207700      |13883      |166593    |HIRED               |
|Preeti                     |NULL       |NULL        |239800        |239800      |16028      |192339    |HIRED               |
|Prem                       |Sagar      |Rana        |399500        |399500      |29524      |354284    |HIRED               |
|Pushpendra                 |NULL       |Rajpoot     |190000        |190000      |12700      |152396    |HIRED               |
|RANJEET                    |NULL       |PRAJAPATI   |202000        |202000      |13502      |162021    |HIRED               |
|ROHIT                      |Panwar     |NULL        |245000        |245000      |16376      |196510    |HIRED               |
|Rachappa                   |Laxman     |Hulakund    |395355        |395355      |29216      |350595    |HIRED               |
|Radheshyam                 |NULL       |Yadav       |240000        |240000      |16042      |192500    |HIRED               |
|Rahat                      |NULL       |Jaan        |240000        |240000      |16042      |192500    |HIRED               |
|Rahul                      |NULL       |Kumar       |240000        |240000      |16042      |192500    |REJECT_OTHERS       |
|Rahul Kumar                |NULL       |NULL        |342885        |342885      |24974      |299685    |HIRED               |
|Raj                        |Kumar      |Singh       |450396        |450300      |33277      |399324    |HIRED               |
|Rajakumar A walikar        |NULL       |NULL        |260000        |260000      |17378      |208541    |HIRED               |
|Rajeev                     |NULL       |Kumar       |370700        |370700      |27292      |327500    |HIRED               |
|Rajesh                     |NULL       |Kumar       |174000        |174000      |11630      |139562    |HIRED               |
|Raju                       |Kumar      |Das         |21000         |210000      |14036      |168437    |HIRED               |
|Raman                      |Kumar      |Mahato      |180000        |195000      |13034      |156406    |HIRED               |
|Ramesh                     |NULL       |Thakur      |174000        |174000      |11630      |139562    |HIRED               |
|Ramesh                     |NULL       |Nagaralli   |400000        |400000      |29559      |354712    |HIRED               |
|Ramesh                     |Virupaxi   |Yaddur      |287000        |287000      |20317      |243800    |HIRED               |
|Ranjeet                    |NULL       |Yadav       |241000        |241000      |16108      |193302    |HIRED               |
|Ranvijay                   |NULL       |Kumar       |350000        |350000      |25567      |306800    |HIRED               |
|Raparthi                   |NULL       |Mahesh      |400000        |400000      |29559      |354712    |HIRED               |

In [125]:
import pandas
from distutils.core import setup
# Step 1: Convert PySpark DataFrame to Pandas
pandas_df = final_dataset.toPandas()

# Step 2: Save as Excel file
pandas_df.to_excel("D:/salaries.xlsx", index=False)

ModuleNotFoundError: No module named 'distutils'