In [ ]:
# This file covers basic steps to get started with pyspark
# Basic Tasks

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Fundementals').getOrCreate()

24/04/13 13:25:24 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
# Task 1: Read and display data

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('first').getOrCreate()
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35),("Tony",50)]
df=spark.createDataFrame(data,["Name","Age"])
df.filter(df.Age>30).show()

24/04/13 13:25:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 35|
|   Tony| 50|
+-------+---+

In [4]:
# Task 2 : Filtering Data
# df.filter(df.Age>30).show()
;

''

In [6]:
# Task : Grouping and Aggregation
# df.groupBy(df.Age).count().show();

''

In [ ]:
# Intermediate Tasks:

In [19]:
# Task Joining dataframes
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35),("Tony",50)]
data2 = [("Alice", "Engineer"), ("Bob", "Doctor"), ("Charlie", "Teacher")]

df=spark.createDataFrame(data,["Name","Age"])
df2=spark.createDataFrame(data2, ["Name", "Occupation"])

# df.join(df2,"Name").show()
# df.join(df2,df.Name==df2.Name,"left").show()
# df.join(df2,df.Name==df2.Name,"right").show()
# df.join(df2,df.Name==df2.Name,"full").show()
# if you use left anti will it display right side table columns
# df.join(df2,df.Name==df2.Name,"leftanti").show()

In [30]:
# DataFrame Aliasing

data = [("Alice", 25), ("Bob", 30), ("Charlie", 35),("Tony",50)]
data2 = [("Alice", "Engineer"), ("Bob", "Doctor"), ("Charlie", "Teacher")]

df=spark.createDataFrame(data,["Name","Age"])
df2=spark.createDataFrame(data2, ["Name", "Occupation"])
# using the alias method
ages=df.alias("df")
# ages.join(df2,"Name").show()

# using the sql style aliasing mehtod
joined_df=df.alias("all_ages").join(df2.alias("occ"),df.Name==df2.Name)
# joined_df.select("all_ages.Name","occ.Occupation").show()

In [19]:
# Task : Handling Missing Data or remove the record that contain null value
data_with_null = [("Alice", 25), ("Bob", None), ("Charlie", 35)]
df_with_null = spark.createDataFrame(data_with_null, ["Name", "Age"])
df_with_null.na.drop()
# .show()
;

''

In [ ]:
# Advanced Tasks:

In [20]:
# Task: User-Defined Functions (UDFs): 
# Convert & Create upperCase column for Name column

from pyspark.sql.functions import udf
# udf registration
upper_udf=udf(lambda name:name.upper())
df.withColumn("UpperName",upper_udf(df["Name"]))
# .show()
# df.show()

DataFrame[Name: string, Age: bigint, UpperName: string]

In [10]:
# Window Functions : generate rownumber based on Age class
from pyspark.sql.functions import row_number
from pyspark.sql import Window
orderBySpec=Window.orderBy("Age")
df.withColumn("Row_num",row_number().over(orderBySpec)) \
# .show()

DataFrame[Name: string, Age: bigint, Row_num: int]

In [11]:
# Groupby on multiple columns
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
# df.printSchema()
# df.show(truncate=False)
df.groupBy("employee_name", "department").sum("salary")\
# .show()

DataFrame[employee_name: string, department: string, sum(salary): bigint]

In [14]:
# Define nested structType
# Defining schema using nested StructType
from pyspark.sql.types import *

structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),None,"F",-1)
  ]
structSchema=StructType([
    StructField("fullname",
            StructType([
                StructField("firstname",StringType(),True),
                StructField("middlename",StringType(),True),
                StructField("lastname",StringType(),True)
    ])),
    StructField("regno",StringType(),True),
    StructField("sex",StringType(),True),
    StructField("salary",IntegerType(),True)
])

df = spark.createDataFrame(data=structureData,schema=structSchema)
df.select("fullname.firstname","fullname.middlename","fullname.lastname","regno","sex")\
# .show(truncate=False)
#df.printSchema()

DataFrame[firstname: string, middlename: string, lastname: string, regno: string, sex: string]

In [1]:
# Read and write into parquet file
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=data, schema = schema)
'''
Write the data into different file formats into HDFS Location
'''
# df.write.parquet("output.parquet", compression="snappy")
# df.write.csv('Files/output.csv')
df.write.orc('output.orc')
df.write.json('output.json')

In [33]:
# add constant columns into dataframe using lit()
from pyspark.sql.functions import lit

data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000)
  ]
schema = ["employee_name", "department", "salary"]
df=spark.createDataFrame(data,schema)
df.select("employee_name", "department", "salary",lit(510000).alias("Test_Col"))\
.show()

+-------------+----------+------+--------+
|employee_name|department|salary|Test_Col|
+-------------+----------+------+--------+
|        James|     Sales|  3000|  510000|
|      Michael|     Sales|  4600|  510000|
|       Robert|     Sales|  4100|  510000|
|        Maria|   Finance|  3000|  510000|
+-------------+----------+------+--------+

In [34]:
"""
Learn about dataset
"""

from pyspark.sql import SparkSession
from pyspark.sql import Row

# Step 1: Create a Spark session
spark = SparkSession.builder.appName("DatasetExample").getOrCreate()

# Step 2: Define a case class (or schema) to represent the data
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Step 3: Create a sequence of data
data = [Person("Alice", 25), Person("Bob", 30), Person("Charlie", 22)]

# Step 4: Convert the data to RDD of Rows
rdd = spark.sparkContext.parallelize(data).map(lambda x: Row(name=x.name, age=x.age))

# Step 5: Create a DataFrame from the RDD
df = spark.createDataFrame(rdd)

# Step 6: Convert the DataFrame to a Dataset using as operator
ds = df.as[Person]

# Step 7: Show the content of the Dataset
ds.show()

SyntaxError: invalid syntax (2335332518.py, line 27)

In [36]:
"""
what will happen if you insert wrong data into defined schema ?
"""
from pyspark.sql.types import *

data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 1000)
  ]
schema =StructType([
    StructField("employee_name",StringType(),True),
    StructField("department",StringType(),True),
    StructField("salary",IntegerType(),False),

])
df = spark.createDataFrame(data=data, schema = schema)
# df.show()

In [31]:
"""
word count program
"""
# from pyspark.sql.functions import split
sentences=[("Remember to handle credentials securely and be cautious about handling sensitive information like usernames and passwords",)]
df=spark.createDataFrame(sentences,['sentence'])
words=(
df.selectExpr("split(sentence,' ') as words")\
  .selectExpr("explode(words) as word") \
  .groupBy("word").count()
)
# df=df.split(' ')
# words.show(truncate=False)
# print(df)

In [40]:
# word count using RDD
sentences=["Remember to handle credentials securely and be cautious about handling sensitive information like usernames and passwords"]
rdd=sc.parallelize(sentences)
rdd.flatMap(lambda line:line.split(" "))\
.map(lambda word:(word,1))\
.reduceByKey(lambda curr,nxt:curr+nxt)\
.sortBy(lambda word:word[0])\
# .collect()
# print(rdd)

PythonRDD[380] at RDD at PythonRDD.scala:53

In [45]:
sentences=["Remember to handle","credentials securely and be cautious","about handling sensitive information like usernames and passwords"]
rdd=sc.parallelize(sentences)
rdd.map(lambda word:word.split(" "))\
.flatMap(lambda w:w)\
# .collect()

PythonRDD[390] at RDD at PythonRDD.scala:53

In [43]:
# Learning about format()
# df=spark.read.format('csv').option('header',True).load('file:///home/tony/BigData/food_establishment_data.csv')
df=spark.read.option('header',True).csv('file:///home/tony/BigData/food_establishment_data.csv')
df.write.option('header',True).parquet('file:///home/tony/BigData/food_establishment_data.parquet')

In [13]:
# Read parquet files count- 266351
df=spark.read.option("startingFrom",10)\
.option('header',True)\
.parquet('file:///home/tony/BigData/food_establishment_data.parquet')
df.count()

266351

In [32]:
# Working with JSON Files
# df=spark.read.json('file:///home/tony/BigData/Files/data.json')
# rdd=sc.textFile('/home/tony/BigData/Files/data.json')

import pandas as pd
# df2=pd.DataFrame(eval('/home/tony/BigData/Files/data.json'))
data=pd.read_json('/home/tony/BigData/Files/data.json',orient='records')
df2=spark.createDataFrame(data)
# df2.show()

In [23]:
df = spark.read.option("mode", "DROPMALFORMED").json("file:///home/tony/BigData/Files/data10.json")
df.printSchema()

root

In [16]:
# Working with mapType
from pyspark.sql.types import StructType,StructField,StringType,MapType
schema=StructType([
    StructField("user_names",StringType(),True),
    StructField("taste",MapType(StringType(),StringType()),True)
])

dataDictionary = [
    ('James',{'hair':'black','eye':'brown'}),
    ('Michael',{'hair':'brown','eye':None}),
    ('Robert',{'hair':'red','eye':'black'}),
    ('Washington',{'hair':'grey','eye':'grey'}),
    ('Jefferson',{'hair':'brown','eye':''})
]
df = spark.createDataFrame(data=dataDictionary, schema = schema)
# df.printSchema()
df.select("user_names",df.taste['hair'].alias("hair_color"),df.taste['eye'].alias("eye"))\
.collect()
# .show()
# .explain()
# .show(truncate=False)

[Row(user_names='James', hair_color='black', eye='brown'),
 Row(user_names='Michael', hair_color='brown', eye=None),
 Row(user_names='Robert', hair_color='red', eye='black'),
 Row(user_names='Washington', hair_color='grey', eye='grey'),
 Row(user_names='Jefferson', hair_color='brown', eye='')]

In [1]:
# connect to mysql using jdbc and read and display all of the tables data

jdbc_url='jdbc:mysql://localhost:3306/employees_db'
username='root'
password='7730061615'
dbtable='employee'

df=spark.read.format('jdbc')\
.option('url',jdbc_url)\
.option('user',username)\
.option('password',password)\
.option('dbtable',dbtable)\
# .load()

In [10]:
my_gen_obj=(num for num in range(5))
print(my_gen_obj)

<generator object <genexpr> at 0x7f4a4c179310>