In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("SQL_GlobalSparkSession").getOrCreate()

24/03/28 19:36:20 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:
# ğŸ’» Write a pyspark code to convert table A value as table B.
from pyspark.sql.functions import col,expr

schema=['key','values']
data= [('K1',[1,1,2]),('K2',[1,2,3])]
df1=spark.createDataFrame(data,schema)
df1.createOrReplaceTempView("keyvalues")
df1.select(col('key'),expr("values[0]").alias("A"),expr("values[1]").alias("B"), expr("values[2]").alias("C")).show()
spark.sql("""
    select key,values[0] as A,values[1] as B,values[2] as C from keyvalues
""").show()

In [ ]:
"""ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ :
Write a query that'll identify returning active users. 
A returning active user is a user that has made a second purchase within 7 days of any other of their purchases.
Output a list of user_ids of these returning active users.
"""
from pyspark.sql.functions import col
from pyspark.sql.types import *

schema=['user_id','item','created_at','revenue']

data=[ (100, 'bread', '07-03-2020', 410),(100, 'banana' ,'13-03-2020' ,175),
        (100, 'banana','29-03-2020', 599),(101, 'milk', '01-03-2020', 449),
        (101, 'milk', '26-03-2020', 740),(114, 'banana', '10-03-2020', 200),
        (114, 'biscuit', '16-03-2020', 300)
     ]

df1=spark.createDataFrame(data,schema)
# df1.show()
df1.createOrReplaceTempView("revenues_2")

spark.sql("""
with clean_data as(
    select user_id,item,revenue
    ,cast(substr(created_at,7,4)||'-'||substr(created_at,4,2)||'-'||substr(created_at,1,2) as date) as order_dt
    from revenues_2
)
--FInd frequency of purchase
,find_frequency as (
    select user_id,item,revenue,order_dt
    --,coalesce(lag(order_dt) over(partition by user_id order by order_dt) ,current_date()) as prev_date
    ,datediff(order_dt,lag(order_dt) over(partition by user_id order by order_dt)) as diff_days
    from clean_data
)
select * 
from find_frequency
where diff_days <= 7
""")#.show()
# ans 100,114

spark.sql("""
select date('07-03-2020') as dt
""").show()

In [ ]:
"""ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ :
Given a table of purchases by date, calculate the month-over-month ğ©ğğ«ğœğğ§ğ­ğšğ ğ ğœğ¡ğšğ§ğ ğ ğ¢ğ§ ğ«ğğ¯ğğ§ğ®ğ.
The output should include the year-month date (YYYY-MM) and percentage change, rounded to the 2nd decimal point,
and sorted from the beginning of the year to the end of the year.
"""
schema=['id','created_at','value','purchase_id']

data=[(1,'01-01-2019',172692,43), (2,'05-01-2019',177194,36),
        (3,'06-02-2019',116948,56), (4,'10-02-2019',162515,29),
        (5,'14-02-2019',120741,30), (6,'22-03-2019',151688,34),
        (7,'26-03-2019',1002327,44)
     ]

df1=spark.createDataFrame(data,schema)
# df1.show()
df1.createOrReplaceTempView("revenues")

spark.sql("""
with sum_amt (
    select
     substring(created_at,4,10) as year_month
    ,sum(value) as curr_month
    from revenues
    group by substring(created_at,4,10)
    )
,get_prevmonth as(
    select year_month,curr_month
        ,coalesce(lag(curr_month) over(order by year_month),0) as prev_month
        from sum_amt
    )
select year_month,curr_month,prev_month
    ,case when prev_month !=0 then round((curr_month-prev_month)/prev_month * 100,2)
    else null end as revenue_percentage
    from get_prevmonth
    
    """).show()

In [ ]:
""" ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ :
Write an SQL query to find how many users visited the bank and didn't do any transactions,
how many visited the bank and did one transaction and so on.
"""

visits_schema=['user_id','visit_date']
transactions_schema=['user_id','transaction_date','amount']

visits=[('1', '2020-01-01'),('2', '2020-01-02'),('12', '2020-01-01'),('19', '2020-01-03')
        ,('1', '2020-01-02'),('2', '2020-01-03'),('1', '2020-01-04'),('7', '2020-01-11'),
        ('9', '2020-01-25'),('8', '2020-01-28')]

transactions=[('1', '2020-01-02', '120'), ('2', '2020-01-03', '22'),('7', '2020-01-11', '232'),('1', '2020-01-04', '7')
             ,('9', '2020-01-25', '33'),('9', '2020-01-25', '66'),('8', '2020-01-28', '1'),('9', '2020-01-25', '99')
             ]
df1=spark.createDataFrame(visits,visits_schema)
# df1.show()
df1.createOrReplaceTempView("visits")
df2=spark.createDataFrame(transactions,transactions_schema)
# df2.show()
df2.createOrReplaceTempView("transactions")
spark.sql("""
with find_0 as (
    select 
    0 as t_count,
    count(v.user_id) as v_count
    
    from visits as v
    left join transactions as t
    on v.user_id=t.user_id and v.visit_date=t.transaction_date
    where t.user_id is null
)
,find_13 as(
select t_count as no_of_trans,count(1) as t_count 
from(
    select t.user_id,t.transaction_date,count(1) as t_count
    from transactions as t
    group by t.user_id,t.transaction_date
)
group by t_count
)
select * from find_0
union
select * from find_13
""")#.show()

In [ ]:
"""
#thoughtworks SQL Interview Question for Data Engineer , Data Analyst and Data Science role.

ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ : A ğŸğ«ğ¢ğğ§ğğ¬ğ¡ğ¢ğ© between a pair of friends x and y is strong if x and y have at least three common friends.
Write an SQL query to find all the strong friendships.
Note that the result table should not contain duplicates with user1_id < user2_id ( To have the friendship user1_id < user2_id)
"""

schema=['user1_id','user2_id']
data=[('1', '2'),('1', '3'),('2', '3'),('1', '4'),('2', '4'),('1', '5')
      ,('2', '5'),('1', '7'), ('3', '7'), ('1', '6'),('3', '6'),('2', '6')]
df=spark.createDataFrame(data,schema)
# df.show()
df.createOrReplaceTempView("Friendship")

spark.sql("""
SELECT DISTINCT
    F1.user1_id,
    F1.user2_id
FROM
    Friendship F1
JOIN
    Friendship F2 ON F1.user1_id = F2.user1_id AND F1.user2_id = F2.user2_id AND F1.user1_id < F1.user2_id
JOIN
    Friendship F3 ON F1.user1_id = F3.user1_id AND F1.user2_id = F3.user2_id AND F1.user1_id < F3.user1_id AND F1.user2_id < F3.user2_id
    AND F2.user1_id = F3.user1_id AND F2.user2_id = F3.user2_id
ORDER BY
    F1.user1_id,
    F1.user2_id""").show()

In [ ]:
""" Pending
ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­:
ğ˜ğ¨ğ® ğšğ«ğ ğ ğ¢ğ¯ğğ§ ğ­ğ¡ğ ğ©ğ«ğ¢ğœğ ğ¨ğŸ ğğšğœğ¡ ğ¬ğ¤ğ® ğ°ğ¡ğğ§ğğ¯ğğ« ğ­ğ¡ğğ«ğ ğ¢ğ¬ ğš ğœğ¡ğšğ§ğ ğ ğ¢ğ§ ğ©ğ«ğ¢ğœğ.
Write an SQL query ğ­ğ¨ ğŸğ¢ğ§ğ ğ­ğ¡ğ ğ©ğ«ğ¢ğœğ ğšğ­ ğ­ğ¡ğ ğ¬ğ­ğšğ«ğ­ ğ¨ğŸ ğğšğœğ¡ ğ¦ğ¨ğ§ğ­ğ¡ & ğœğšğ¥ğœğ®ğ¥ğšğ­ğ ğ­ğ¡ğ ğğ¢ğŸğŸğğ«ğğ§ğœğ ğŸğ«ğ¨ğ¦ ğ­ğ¡ğ ğ©ğ«ğğ¯ğ¢ğ¨ğ®ğ¬ ğ¦ğ¨ğ§ğ­ğ¡'ğ¬ ğ¬ğ­ğšğ«ğ­ ğğšğ­ğ.
"""
schema=['sku_id','price_date','price']

data = [(1,'2023-01-01',10)
,(1,'2023-02-15',15)
,(1,'2023-03-03',18)
,(1,'2023-03-27',15)
,(1,'2023-04-06',20)]
df=spark.createDataFrame(data,schema)
# df.show()
df.createOrReplaceTempView("sku")

spark.sql("""
    select *--,price-prev_price as price_diff 
    from(
    select *,coalesce(lag(price) over(partition by sku_id order by price_date ),0) as prev_price
    ,price-coalesce(lag(price) over(partition by sku_id order by price_date ),0) as prev_pricediff
    from sku --order by price
    )
""")
#.show()

In [ ]:
"""
Find the stores which either sell both tea and coffee  or coffee and jam
"""

schema=['store_id','store_name','product']
data=[
(1,'bb','tea'),
(1,'bb','coffee'),
(2,'dmart','coffee'),
(3,'more','tea'),
(4,'reliance','tea'),
(4,'reliance','coffee'),
(4,'reliance','jam'),
(5,'b mart','coffee'),
(5,'b mart','jam')
]
df=spark.createDataFrame(data,schema)
# df.show()
df.createOrReplaceTempView("stores")

spark.sql("""
select store_id,store_name--,product
,max(case when product='tea' then product else null end) as tea
,max(case when product='coffee' then product else null end) as coffee
,max(case when product='jam' then product else null end) as jam

from stores
group by store_id,store_name
having (tea='tea' and coffee='coffee') or (jam='jam' and coffee='coffee')

""")
spark.sql(""" 
    SELECT store_id, store_name
    FROM stores
    WHERE product IN ('tea', 'coffee', 'jam')
    GROUP BY store_id, store_name
    HAVING COUNT(DISTINCT product) >= 2
""")# .show()

In [ ]:
'''Asked in indiumsoft L2 Round
return the customers who place the order within 12 days
'''
data=[
(1,'2021/12/31','123a','b1'),
(2,'2022/01/11','123a','b2'),
(3,'2023/01/01','123a','b3'),
(4,'2023/02/02','123a','b4'),
(5,'2023/01/01','346b','b5'),
(6,'2023/02/02','346b','b6'),
(7,'2023/02/14','346b','b7'),
(8,'2023/02/17','346b','b7')
]
schema=['Orderid','Orderdt','custid','Endloc']

df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("orders")
# way 1
spark.sql("""
  select *,datediff(orderdt,prevdt) as days
    from (
        select Orderid,to_date(Orderdt,'yyyy/MM/dd') as orderdt
            ,custid,Endloc
            ,coalesce(lag(to_date(Orderdt,'yyyy/MM/dd')) over(partition by custid order by custid),orderdt ) as prevdt
        from orders 
        order by custid,orderdt
        )
        where datediff(orderdt,prevdt) <=12
""")#.show()

# way 2
spark.sql("""
select * from (
select *
--,datediff(orderdt,lag(orderdt) over(partition by custid order by custid) ) as days
,to_date(orderdt,'yyyy/mm/dd') as currentdt, lag(to_date(orderdt,'yyyy/mm/dd')) over(partition by custid order by custid) as prevdt

from orders )
--where days <=12
""")\
# .show()

# print(type(df.Orderdt))
# df.show()

In [ ]:
"""Asked in synechron
Metro Train table is ordered by turn in the example for simplicity.
In the example Rajkumar(id 105). Shruthitid 103) and Ravikiran (id 106) will enter 
the Metro_Train as their weight sum is 250-350+400=1000
Ravikiran (id/106) is the last person to fir in the Metro Train because he has the last turn in these three people.
"""
schema=['id','name','weight','turn_id']
data=[(105,'Rajkumar',250,1)
,(103,'Shruthi',350,2)
,(106,'Ravikiran',400,3)
,(102,'Tejuswini',200,4)
,(104,'Ravikiran',1175,5)
,(101,'Surya',500,6)]

In [ ]:
Name some of the frameworks that SCALA supports
how to skip first few rows from a datafile in pyspark
ETL vs ELT
sheedusele single mode duster with 64dores and 512/68 memory.or should go for smaller nodes such as eight of 8 cores and 64 GB memory?
Which one is better in which scenario?

In [ ]:
"""
ğ‘ªğ’‰ğ’‚ğ’ğ’ğ’†ğ’ğ’ˆğ’† : Get the name of the ğ¡ğ¢ğ ğ¡ğğ¬ğ­ ğ¬ğšğ¥ğšğ«ğ² ğšğ§ğ ğ¥ğ¨ğ°ğğ¬ğ­ ğ¬ğšğ¥ğšğ«ğ² employee name in ğğšğœğ¡ ğğğ©ğšğ«ğ­ğ¦ğğ§ğ­.
If the salary is same then return the name of the employee whose name comes first in ğ¥ğğ±ğ¢ğœğ¨ğ ğ«ğšğ©ğ¡ğ¢ğœğšğ¥ ğ¨ğ«ğğğ«.
"""
from pyspark.sql.functions import *

emp_data = [
    ('Siva',1,30000),('Ravi',2,40000),('Prasad',1,50000),
    ('Arun',1,30000),('Sai',2,20000)
]

emp_schema = "emp_name string , dep_id int , salary long"

# Creating the dataframe
df = spark.createDataFrame(data = emp_data , schema = emp_schema).createOrReplaceTempView("depts")

spark.sql("""
select dep_id
    ,max((case when minSal=1 then emp_name end)) as minEmp
    ,max((case when maxSal=1 then emp_name end)) as maxEmp
    from ( select dep_id,emp_name,salary
    ,row_number() over(partition by dep_id order by salary,emp_name) as minSal
    ,row_number() over(partition by dep_id order by salary desc,emp_name) as maxSal
    from depts 
    )
    group by dep_id
""").show()

In [12]:
"""
Challenge:- Read the third quarter (25%) of emp_data table.
"""

emp_data = [("Alice", 28),
("Bob", 35),("Harvey",45),("Donna",45),
("Charlie", 42),
("David", 25),
("Eva", 31),
("Frank", 38),
("Grace", 45),
("Henry", 29)]

emp_schema = "name string , age int"

df = spark.createDataFrame(data = emp_data , schema = emp_schema).createOrReplaceTempView("emp_data")

spark.sql("""
select * from (
select name,age
,ntile(4) over(order by name) as n_part
from emp_data
)
--where n_part=3
""")#.show()

DataFrame[name: string, age: int, n_part: int]

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.functions import *
# Define the schema for the DataFrame
schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("City", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Lat_N", DoubleType(), True),
    StructField("Long_W", DoubleType(), True)
])

# Sample data
data = [
    (1, 'New York', 'NY', 40.7128, -74.006),
    (2, 'Los Angeles', 'CA', 34.0522, -118.2437),
    (3, 'Albany', 'IL', 41.8781, -87.6298),
    (4, 'East China', 'TX', 29.7604, -95.3698),
    (5, 'East China', 'AZ', 33.4484, -112.074),
    (6, 'Philadelphia', 'PA', 39.9526, -75.1652),
    (7, 'San Antonio', 'TX', 29.4241, -98.4936),
    (8, 'San Diego', 'CA', 32.7157, -117.1611),
    (9, 'Oakfield', 'TX', 32.7767, -96.797),
    (10, 'San Jose', 'CA', 37.3382, -121.8863)
]

# Create DataFrame
df = spark.createDataFrame(data=data, schema=schema).createOrReplaceTempView("cities")
# Filter city names that start with vowels
# spark.sql("select * from cities where City like 'A%' or City like 'E%' or City like 'I%' or City like 'O%'")\
spark.sql("select * from cities where City rlike '^[AEIOUaeiou]'")\
# .show()

DataFrame[ID: int, City: string, State: string, Lat_N: double, Long_W: double]

In [11]:
"""
ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ : Write a SQL query to find the highest grade with its corresponding course for each student.
In case of a tie, you should find the course with the smallest course_id.
The output must be sorted by increasing student_id.

select a.*,b.course_id
    from get_grades as a
    join student_grades as b
    on a.student_id=b.student_id 
    where max_marks=b.grade

"""
schema=["student_id","course_id","grade"]
data=[   ('2', '2', '95'),('2', '3', '95')
        ,('1', '1', '90'),('1', '2', '99')
        ,('3', '1', '80'),('3', '2', '75')
        ,('3', '3', '82')]

# Create DataFrame
df = spark.createDataFrame(data=data, schema=schema).createOrReplaceTempView("student_grades")

spark.sql("""
select * from (
    select
    student_id,course_id,grade
    ,row_number() over(partition by student_id order by grade desc,course_id ) as rn
    from student_grades
    ) where rn=1
""")\
# .show()

DataFrame[student_id: string, course_id: string, grade: string, rn: int]

In [16]:

teams_schema=["team_id","team_name"]
Matches_schema=["home_team_id","away_team_id","home_team_goals","away_team_goals"]
teams =[('1', 'CSK'),('4', 'RCB'),('6', 'KKR')]
matches=[('1', '4', '0', '1'),('1', '6', '3', '3')
        ,('4', '1', '5', '2'),('6', '1', '0', '0')]

spark.createDataFrame(data=teams, schema=teams_schema).createOrReplaceTempView("teams")
spark.createDataFrame(data=matches, schema=Matches_schema).createOrReplaceTempView("matches")
"""
ğğ«ğ¨ğ›ğ¥ğğ¦ ğ’ğ­ğšğ­ğğ¦ğğ§ğ­ : Write an SQL query to report the statistics of the league.
The statistics should be built using the played matches where the winning team gets ğ­ğ¡ğ«ğğ ğ©ğ¨ğ¢ğ§ğ­ğ¬ and the losing team gets no points.
If a match ends with a draw, both teams get one point.
Return the result table in descending order by points.
If two or more teams have the same points, order them in descending order by goal_diff. 
If there is still a tie, order them by team_name in lexicographical order.

Output format: team_name,matches_played,points,goal_for,goal_points,goal_diff
"""

spark.sql("""
select * from teams
""")\
.show()
spark.sql("""
select * from matches
""")\
.show()

+-------+---------+
|team_id|team_name|
+-------+---------+
|      1|      CSK|
|      4|      RCB|
|      6|      KKR|
+-------+---------+

+------------+------------+---------------+---------------+
|home_team_id|away_team_id|home_team_goals|away_team_goals|
+------------+------------+---------------+---------------+
|           1|           4|              0|              1|
|           1|           6|              3|              3|
|           4|           1|              5|              2|
|           6|           1|              0|              0|
+------------+------------+---------------+---------------+

In [12]:
"""
Task - Find the employees who earn more than their managers.
"""
data = [
    (1, 'John Doe', 60000.0, 3),
    (2, 'Jane Smith', 95000.0, 3),
    (3, 'Tom Johnson', 90000.0, 4),
    (4, 'Alice Brown', 120000.0, 5),
    (5, 'Bob White', 80000.0, 4),
    (6, 'Eva Davis', 65000.0, 3),
# Add more tuples as needed
]
schema="emp_id int,emp_name string,salary float,mgr_id int"
spark.createDataFrame(data, schema).createOrReplaceTempView("employees")

spark.sql("""
    select e.emp_id as emp_id,e.emp_name,e.salary as emp_salary,m.salary as mgr_salary--,e.mgr_id,m.emp_name as mgr_name
    from employees as e
    inner join employees as m
    on e.mgr_id=m.emp_id
    and e.salary >=m.salary
""")#.show()

DataFrame[emp_id: int, emp_name: string, emp_salary: float, mgr_salary: float]

In [28]:
"""
Write a query to find total rides and profit rides by each driver.
Profit ride is when the end location of the current ride is the same as the start location of the next ride.

It is not necessary that the end time of the current ride should be the same as the start time of the next ride to qualify as a profit ride.

Bonus point if you solve it without using lead and lag functions.

script :
"""
drivers_schema="id string,start_time string, end_time string, start_loc string, end_loc string";

drivers = [('dri_1', '09:00', '09:30', 'a','b'),('dri_1', '09:30', '10:30', 'b','c')
        ,('dri_1','11:00','11:30', 'd','e'),('dri_1', '12:00', '12:30', 'f','g'),('dri_1', '13:30', '14:30', 'c','h')
        ,('dri_2', '12:15', '12:30', 'f','g'),('dri_2', '13:30', '14:30', 'c','h')
          ]
spark.createDataFrame(drivers, drivers_schema).createOrReplaceTempView("drivers")

spark.sql("""
    select id,count(start_time) as total_rides,sum(next_ride) as succesfull_rides
    from (
    select distinct s.id,s.start_loc,s.start_time
    ,case when s.end_loc=n.start_loc then 1 else 0 end as next_ride
    from drivers as s
    left join drivers as n
    on s.end_loc=n.start_loc
    order by s.start_time
    ) group by id
""").show()

+-----+-----------+----------------+
|   id|total_rides|succesfull_rides|
+-----+-----------+----------------+
|dri_1|          5|               2|
|dri_2|          2|               0|
+-----+-----------+----------------+

In [38]:
"""
I would have solved hundreds of SQL problems based on the employee and department table in the last 10-12 years.
But this problem is really a tricky one.

We need to obtain a list of departments with an average salary lower than the overall average salary of the company.

However, when calculating the company's average salary, you must exclude the salaries of the department you are comparing it with.

For instance, when comparing the average salary of the HR department with the company's average, the HR department's salaries 
shouldn't be taken into consideration for the calculation of the company's average salary.
"""
emp_schema="emp_id int,emp_name string,department_id int,salary int,manager_id int,emp_age int"

emp=[ (1, 'Ankit', 100,10000, 4, 39),(2,'Mohit', 100, 15000, 5, 48)
    , (3, 'Vikas', 100, 10000,4,37),(4,'Rohit', 100, 5000, 2, 16)
    , (5, 'Mudit', 200, 12000, 6,55),(6,'Agam', 200, 12000,2, 14)
    , (7, 'Sanjay', 200, 9000, 2,13),(8,'Ashish', 200,5000,2,12)
    , (9, 'Mukesh',300,6000,6,51),(10,'Rakesh',300,7000,6,50)
]

spark.createDataFrame(emp, emp_schema).createOrReplaceTempView("employees")
spark.sql("""
   select avg(salary) from employees   

""").show()

spark.sql("""
    select 
    department_id,avg(salary) as dept_avg_salary
    from employees
    group by department_id
    having dept_avg_salary <= (select avg(salary) from employees)


""").show()

+-----------+
|avg(salary)|
+-----------+
|     9100.0|
+-----------+

+-------------+---------------+
|department_id|dept_avg_salary|
+-------------+---------------+
|          300|         6500.0|
+-------------+---------------+